<!DOCTYPE html>
<html>
  <head>
    <title>CRM 0.0.0.1</title>
    <link rel="stylesheet" type="text/css" href="reset.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700|Fredoka+One|Gafata' rel='stylesheet' type='text/css'>

  </head>

  <body>
    <div id="wrapper_outer"><div id="wrapper_inner">
      <header>
        <h1><%= @app_name %></h1>
      </header>
      <section id="status">
        <p id="crm_status">There are currently <span class="highlight">0 contacts</span> in your rolodex. <a href="/contacts">View all contacts</a>
      </section>
    </div></div>
  </body>
</html>
